/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#menubar
{ width: 560px;
  height: 50px;
  text-align: center; 
  /*align: left;*/
  background: transparent;
  background: -moz-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  background: -webkit-linear-gradient(transparent, transparent);
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border: 0px 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 5px;
  position:relative;
  
  } 

  ul#menu
{ margin:0;
  margin: 0 0 0 50px;
  
}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

ul#menu li a
{ float: left;
  font: bold 120% Garamond, Helvetica, sans-serif;
  text-align: center;
  color: #000000;
  text-decoration: none;
  height: 8px;
  text-shadow: 0px -1px 0px #000;
  padding: 8px 20px 19px 20px;
  background: transparent; } 
  
ul#menu li.current a
{ background-color: #700000;
  color:#FFF;
  z-index: 10;
   text-shadow: 0px -1px 0px #000;

}
  
ul#menu li:hover a
{ color: #000000;
  background: #FFF  ;
  text-shadow: none;
  border: 1px #700000 solid;
  -moz-transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -o-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
  transform: scale(1.1) rotate(0deg);
  z-index: 10;

}

.head {

  position:relative;
}
.headpage1 {
  width: 100%;
  display: block;
 position:relative;
}

.headpage2 {                                                 
  display: inline;                                              
  width: 80%;
 /*position:absolute;*/

  
}

.container  {
    display: block;
  width: 100%; 
  position: relative;

  }

  .container img {
   width:100%;
    position:relative;
  }

  .footer {
       width:100%;
       margin-left:auto;
       margin-right:auto;
       margin-top: 20px;
       font-family:Arial;
       font-size:14px;
       clear:both;
  }

 .footer ul {

  margin-top:0px;
 }
  .left-footer {

      width:50%;
      display:inline-block;
      float:left;
      margin-top:0px;
  }

  .right-footer {

    width:50%;
    display:inline-block;
    float:left;
  }





.page{

  width:90%;
  height: auto;
  display:  block;
  margin:0 auto;
  margin-top:40px;
  position:relative;
  opacity:0;
  animation: fadein 2s;
  animation-delay: 0.5s;
  -webkit-animation: fadein 2s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
    

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#000000;
}

.right-align-class {

  text-align: right;
}


.firsthalf {

  width:100%;

}

.form_settings
{ margin: 40px 0 0 0px;
  width:50%;
  height:100px;
  display:inline-block;
  float:left;
}
.form_settings p 
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #BBB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: bold 100% arial; 
  width: 99px;
  border: 2px solid #700000;
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #700000;
  background: -moz-linear-gradient(#700000, #700000);
  background: -o-linear-gradient(#700000, #700000);
  background: -webkit-linear-gradient(#700000, #700000);
  border-radius: 0px 15px 0px 15px;
  -moz-border-radius: 0px 15px 0px 15px;
  -webkit-border: 0px 15px 0px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #FFF;}

.maps {
  
  width:50%;
  height:100px;
  display:inline-block;
  float:left;
  margin-top:100px;
}

.graphic {

  width:100%;
  margin-left:auto;
  margin-right:auto;
  clear:both;
  margin-bottom:calc(100% - 84vw);
  float: left;

}

.big{
 width: 100%;
 float: right;
}

.projects{
  display: inline;
  /*-webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;*/
}

.header{
  width:100%;
}

.sitemap a{
  color: #700000;
}

/*.site_content {
  width: 1000px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
p{
  text-align:center;}

.thumbnail{
  width:calc(33% - 10px);
  height: 200px;
  display: block;
  background-color: #B8B8B8 ;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.thumbImg{
  width:100%;
  height: 150px;
  display: block;
  position: relative;
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
